@media (prefers-color-scheme: light) {
	body {
		background-color: rgb(255, 253, 248);
		color: rgb(77, 75, 70);
		transition: 0.3s;
	}
	h1 {
		opacity: 100%;
		transition:0.3s;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(0, 6, 26);
		color: rgb(195, 203, 227);
		transition: 0.3s;
	}
	h1 {
		opacity: 90%;
		transition: 0.3s;
	}
}
