@media (prefers-color-scheme: dark) {
	div.top-bar {
		background-image: linear-gradient(45deg, #9d1332, #b82e19);
		background-color: #9d1332;
		color: white;

		transition: 0.3s;
	}
	
	a.top-bar-button, a:link.top-bar-button, a:visited.top-bar-button {
		background-color: rgba(255, 255, 255, 0.85);
		color: rgb(0, 6, 26);
		
		transition: 0.1s;
	}
	
	a.top-bar-button:hover {
		background-color: rgba(255, 255, 255, 0.9);
		transition: 0.1s;
	}
	
	a.top-bar-button:active, a.top-bar-button:focus {
		background-color: rgb(255, 253, 248);
		transition: 0.1s;
	}
	
	
	a.top-bar-ghost-button, a:link.top-bar-ghost-button, a:visited.top-bar-ghost-button {
		background-color: #00000000;
		color: rgb(255, 255, 255);;
		border-color: rgb(255, 255, 255, 0.8);
	
		transition: 0.1s;
	}
		
	a.top-bar-ghost-button:hover {
		border-color: rgba(255, 255, 255, 0.95);
		transition: 0.1s;
	}
	
	a.top-bar-ghost-button:active, a.top-bar-ghost-button:focus {
		border-color: rgb(255, 253, 248);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 6, 26);
	
		transition: 0.1s;
	}
	
	.top-bar-divider {
		color: #c4163a00;
	}
}
