.top-buttons-bar {
    max-width: var(--page-width);
    display: grid;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.download-header-link .docs-header-link .community-header-link {
    width: 1rem;
}

@media (max-width: 39rem) {
    .download-header-link {
        grid-row: 1;
        grid-column: 1;
    }
    .docs-header-link {
        grid-row: 2;
        grid-column: 1;
    }
    .community-header-link {
        grid-row: 3;
        grid-column: 1;
    }
}
@media (min-width: 39rem) {
    .download-header-link {
        grid-row: 1;
        grid-column: 1 / 98;
    }
    .docs-header-link {
        grid-row: 1;
        grid-column: 98;
    }
    .community-header-link {
        grid-row: 1;
        grid-column: 99;
    }
}


.buttons-section {
    max-width: 26em;
    display: grid;
    text-align: center;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
}

.docs-link .download-link {
    grid-column: 1 / 2;
}

.source-sourcehut-link {
    grid-row: 1;
    grid-column: 1;
}
.source-github-link {
    grid-row: 1;
    grid-column: 2;
}

.community-maillist-link {
    grid-row: 1;
    grid-column: 1 / 3;
}
.community-irc-link {
    grid-row: 3;
    grid-column: 1;
}
.community-irc-join-link {
    grid-row: 3;
    grid-column: 2;
}
.community-matrix-link {
    grid-row: 4;
    grid-column: 1 / 3;
}
