.buttons-section {
	max-width: 32em;
	display: grid;
	text-align: center;
	padding-left: var(--page-padding);
	padding-right: var(--page-padding);
	margin-left: auto;	margin-right: auto;
}

.docs-link {	grid-row: 1:	grid-column: 1;	}

.source-sourcehut-link {
	grid-row: 1;
	grid-column: 1 / 2;
}
.source-github-link {
	grid-row: 1;
	grid-column: 2;
}

.community-forums-link {
	grid-row: 1;
	grid-column: 1 / 5;
}
.community-maillist-link {
	grid-row: 1;
	grid-column: 5 / 7;
}
.community-irc-link {
	grid-row: 3;
	grid-column: 1;
}
.community-irc-join-link {
	grid-row: 3;
	grid-column: 2 / 7;
}
