@import url("color-palette.css");
@import url("buttons-layout.css");
@import url("button.css");
@import url("feature-cards.css");
@import url("footer.css");

:root {
    --page-padding: 1rem;
    --page-width: 40rem;
    --extended-page-width: 60rem;
    --line-height: 160%;
    --corner-radius: 5px;
}

.tenacity-logo {
    height: 51px;
}

.main-image {
    width: 90%;
    max-width: var(--extended-page-width);
    border-radius: var(--corner-radius);
}

.padding-before-and-after-text {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

p {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
}

.standard-paragraph {
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
    line-height: var(--line-height);
}

h2, h3, h4 {
    text-align: center;
}
h3 {
    margin-bottom: 0.75rem;
}
h4 {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
}

em {
    font-style: normal;
    font-weight: bold;
}

a:link, a:visited {
    color: var(--color-on-background-link);
    text-decoration: underline;
}
a:visited {
    color: var(--color-on-background-link-visited);
}
a:hover, a:focus {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}

.key-cat {
    font-family: monospace, monospace;
    padding: var(--page-padding);
    max-width: var(--extended-page-width);
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
