@import url("color-palette.css");
@import url("buttons-layout.css");
@import url("button.css");
@import url("feature-cards.css");
@import url("footer.css");

:root {
	--page-padding: 1rem;
	--page-width: 40rem;
	--line-height: 160%;
	--corner-radius: 5px;
}

.header {
	width: 100%;
	background-image: linear-gradient( to top right, var(--color-primary), var(--color-primary-gradient-end) );
	color: var(--color-on-primary);
	text-align: center;
	padding-top: 1rem;	padding-bottom: 1rem;
	padding-left: 0;	padding-right: 0;
}

.main-image {
	max-width: 80%;
	max-height: calc(90vh - 71px - 6em);
	border-radius: var(--corner-radius);
}

.padding-before-and-after-text {
	padding-top: 0.4rem;	padding-bottom: 0.4rem;
}

body {
	background-color: var(--color-background);
	color: var(--color-on-background);
	font-family: sans-serif;
	margin: 0;
}

p {
	padding-left: var(--page-padding);
	padding-right: var(--page-padding);
}

.standard-paragraph {
	max-width: var(--page-width);
	margin-left: auto;	margin-right: auto;
	line-height: var(--line-height);
}

h2 {	text-align: center;	}

em {
	font-style: normal;
	font-weight: bold;
}

a:link, a:visited {
	color: var(--color-on-background-link);
	text-decoration: underline;
}
a:hover, a:focus {	text-decoration: none;	}
a:active { text-decoration: underline;	}
